{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/app.css' %}" />
<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <title>
        respaper
    </title>
</head>

<body>
  <div class="container">
      <div class="draggable-list" style="float:left">
        <div class="draggable-item">
          <div class="img1"></div>
          <p style="float:right"> Group A </p>
        </div>
        <div class="draggable-item"> <span class="img2"></span>
          <p style="float:right"> Group A </p>
        </div>
        <div class="draggable-item"> <span class="img3"></span>
          <p style="float:right"> Group A </p>
        </div>
        <div class="draggable-item"> <span class="img4"></span>
          <p style="float:right"> Group A </p>
        </div>
        <div class="draggable-item"> <span class="img5"></span>
          <p style="float:right"> Group A </p>
        </div>
      </div>
      <div class="draggable-list" style="float:right">
        <div class="draggable-item"> <span class="img7"></span>
          <p style="float:right"> Group B </p>
        </div>
        <div class="draggable-item"> <span class="img8"></span>
          <p style="float:right"> Group B </p>
        </div>
        <div class="draggable-item"> <span class="img9"></span>
          <p style="float:right"> Group B </p>
        </div>
        <div class="draggable-item"> <span class="img10"></span>
          <p style="float:right"> Group B </p>
        </div>
        <div class="draggable-item"> <span class="img11"></span>
          <p style="float:right"> Group B </p>
        </div>
      </div>
    </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static "/dashboard/js/script.js" %}"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</body>

</html>


